* {
background-color: rgb(4, 4, 46);
}

#container {
border: 10px double green;
width: 998px;
margin: 0 auto;
padding: 0 auto;
}

#blockquote {
 padding-left: 300px;
 color: white;
 font-family:'Times New Roman', Times, serif;
 font-size:medium;
 text-align: justify;
}


a {
color: white;
}

.paragraph {
color: white;
font-family: cursive;
font-size: 12px;
margin-left: 100px;
}

